* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* #inserForm {
    width: 1540px !important;
} */
.modal-xl {
    width: 60% !important;
    max-width:1200px;
}
.modal.show .modal-dialog{
    transform: none;
}

.modal.fade .modal-dialog{
    transition: transform .3s ease-out;
    transform: translate(0,-50px);
}
@media (min-width: 992px){
    .modal-lg, .modal-xl{
        max-width: 800px;
    }
}
.modal.fade .modal-dialog{
    transition: transform .3s ease-out;
    transform: translate(0,-50px);
}
@media (min-width: 992px){
    .modal-lg, .modal-xl{
        max-width: 800px    ;
    }
}
label{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.form-group .form-control {
    padding-right: 2.375rem;
}

.form-control-icon {
    position: absolute;
    z-index: 2;
    right: 1.5rem;
    top: 1rem;
}
.modal-header{
    padding-bottom: 0 !important;
}
.modal-body{
    padding-top: 0 !important;
}
.green{
    background-color:#85e085 !important;
}
.orange{
    background-color:#ffb366 !important;
}
.blue{
    background-color:#0d6efd !important;
}
.red{
    background-color:#ff6666 !important;
}
@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
        max-width:1200px;
    }
  }