.modal-header {
    padding-bottom: 0 !important;
}

.modal-body {
    padding-top: 0 !important;
}

.aparecer {
    transition: opacity .7s;
}

.desvanecer {
    opacity: 0;
}

.toolbar-right,
.table-toolbar-right {
    text-align: center !important;
}

#alerts-general {
    margin-bottom: 1rem;
}

.form-control {
    border: 1px solid #ced4da !important;
}