Allow from all

Options -Indexes


ErrorDocument 500 /ExploracionesAndinas/public/error/500.html

ErrorDocument 404 /ExploracionesAndinas/public/error/403.html

ErrorDocument 401 /ExploracionesAndinas/public/error/401.html

ErrorDocument 403 /ExploracionesAndinas/public/error/403.html

RewriteEngine On
RewriteBase /

#php_value session.cookie_path /

RewriteRule ^\.php$ - [R=404,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#RewriteRule ^(.*)$ index.php?z_url=$1 [QSA,PT,L]
RewriteRule ^(.*)$ index.php [E=PHP_MVC_ROUTE:$1,QSA,PT,L]
#RewriteRule ^([^\.]+)$ $1.php [NC,L]